html, body{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    height: 100%;

    margin: 0;
    padding: 0;
}

[class*="col-"] {
    line-height: 40px;
    text-align: center;
}

.justify-content-md-center {
    justify-content: center!important;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    color: inherit;
}

/* pagination */
#retourListeChapitre{
    margin-left: 2rem;
    margin-top: 5rem;
}

#chapitrePrecedent{
    margin-left: 2rem;
}

#chapitreSuivant{
    margin-right: 2rem;
}

/* couleur et suppression bouton signalement commentaire */
.signalement{
    color: #e13d3d;
}

#signalé{
    display: none;
}

/* homePage */
header{
    height: 16em;
    background: url(../../images/AlaskaHeader.jpg)no-repeat center;
    background-size: cover;
    /* background-position: center; */
    position: relative;
}

#header{
    padding: 0;
}

.photoForteroche
{
    width: 45%;
}

/* Tous les chapitres */
#chapitreBanniere{
    background-image:url(../../images/banniere.jpg);
    padding: 9%;
    background-size: cover;
    background-position: center;
    height: 7em;
}

.banniere{
    text-align: center;
    color: azure;
}

.chapitreTitle, .allChapitre{
    margin: 1.5rem;
}

/* chapitre */


/* commentaire */
form{
    padding: 6%;
}

.formGroup{
    margin-bottom: 1.5em;
}

label{
    display: inline-block;
    margin-bottom: 0.5em;
}

.formControl{
    display: block;
    width: 100%;
    padding: 4px;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: 0.3em;
}

textarea{
    height: auto;
}

#commentaire{
    margin: 0;
}

/* ADMIN */
.titleConnection{
    font-size: 1em;
    text-align: center;
    margin-top: 2em;
}

.formConnection{
    text-align: center;
}

.alert-danger{
    color: chocolate;
    background-color: lightpink;
    padding: 0.5em;
    text-align: center;
    margin-top: 2em;
}

/* tablette */
@media only screen and (min-width: 601px) {

    .headerTitle{
        font-size: 5em;
        padding-top: 5%;
    }  

    .header{
        height: 21em;
    }

    .photoForteroche
    {
        width: 25%;
    }
    
    /* Tous les chapitres */
    #chapitreBanniere{
        height: 16em;
    }

    /* chapitre */
    #imgChapitre{
        padding: 13%;
    }

}

/* PC */

@media only screen and (min-width: 1025px){
   
}