body{
    font-family: 'Roboto', 'fontawesome', Arial, "Arial Black",sans-serif;
    /* background-image: url(../../images/jeanforterochefond.jpg); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    padding-top: 70px;
}

.navbar-default
{
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-default li
{
    margin-right: 20px;
}

.navbar h1
{
    font-size: 2rem;
}

.navbar li a
{
    font-size: 1.1rem;
}

.btn {
    border-radius: 1rem;
    transition: color 0.3s;
}

.btn btn-info:hover{
    color: #d8554d;
}

/* modal signaler & supprimer */

.modal-dialog.modal-notify.modal-danger .modal-header {
    background-color: #ff4b4b;
}

.modal-dialog.modal-notify .modal-header {
    border: 0;
}
.modal-dialog.modal-notify .modal-header {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.modal-dialog .modal-content .modal-header {
    border-top-left-radius: .125rem;
    border-top-right-radius: .125rem;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
}

.modal-dialog.modal-notify .heading {
    margin: 0;
    padding: .3rem;
    color: #fff;
    font-size: 1.15rem;
}

.modal-dialog.modal-notify .close {
    opacity: 1;
    color: #fff;
}

.modal-content .close {
    position: absolute;
    right: 15px;
}

.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
}

.modal-dialog.modal-notify .modal-body {
    padding: 1.5rem;
    color: #ff4b4b;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}

.rotateIn {
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}







@media only screen and (min-width: 601px){

}

@media only screen and (min-width: 760px){

}
    
@media only screen and (min-width: 1025px){

}
    