body{
    font-family: 'Roboto', 'fontawesome', Arial, "Arial Black",sans-serif;
    background-image: url(../../images/jeanforterochefond.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    padding-top: 70px;
}

.navbar-default
{
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-default li
{
    margin-right: 20px;
}







@media only screen and (min-width: 601px){

}

@media only screen and (min-width: 760px){

}
    
@media only screen and (min-width: 1025px){

}
    